.div-flex {
    width: 50%;
    height: 500px;
    background-color: lightgrey;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.div-flex-item {
    width: 100px;
    height: 100px;
    flex: none;
}

.div-flex-item:nth-child(odd) {
    background-color: lightpink;
}

.div-flex-item:nth-child(even) {
    background-color: lightgreen;
}